In [ ]:
## PyEX

In [45]:
import pyEX as p
import pandas as pd

In [ ]:
p.symbolsDF().head()

In [ ]:
symbol = 'AAPL'

In [ ]:
p.bookDF(symbol)

In [52]:
p.chartDF(symbol, timeframe='1d').head()

                   average  changeOverTime    close    high     label     low  \
date       minute
2018-10-24 09:30   223.093        0.000000  223.335  223.59  09:30 AM  222.57
           09:31   223.576        0.002165  223.760  223.97  09:31 AM  223.05
           09:32   223.900        0.003617  223.890  224.17  09:32 AM  223.72
           09:33   223.976        0.003958  223.960  224.15  09:33 AM  223.70
           09:34   223.631        0.002412  223.380  223.97  09:34 AM  223.29

                   marketAverage  marketChangeOverTime  marketClose  \
date       minute
2018-10-24 09:30         222.848              0.000000      223.345
           09:31         223.644              0.003572      223.802
           09:32         223.922              0.004819      223.917
           09:33         223.961              0.004994      223.840
           09:34         223.589              0.003325      223.399

                   marketHigh  marketLow  marketNotional  \
date       minute
2018-10-24 09:30       223.63     222.52    1.873387e+08
           09:31       223.97     222.70    6.452368e+07
           09:32       224.20     223.66    6.241794e+07
           09:33       224.20     223.63    5.719125e+07
           09:34       223.98     222.70    5.303879e+07

                   marketNumberOfTrades  marketOpen  marketVolume  \
date       minute
2018-10-24 09:30                   2981     222.520        840658
           09:31                   2747     223.350        288510
           09:32                   3348     223.825        278748
           09:33                   2373     223.920        255362
           09:34                   2464     223.840        237216

                      notional  numberOfTrades     open  volume
date       minute
2018-10-24 09:30   1681672.005              68  222.570    7538
           09:31   3015371.670             130  223.365   13487
           09:32   2854726.360             130  223.790   12750
           09:33   1273082.800              56  223.920    5684
           09:34   1978017.520              94  223.800    8845

In [55]:
a = p.chartDF(symbol, timeframe='6m')
a.to_csv("dayOut.csv", sep='\t')

In [ ]:
p.companyDF(symbol)

In [ ]:
p.collectionsDF('sector', 'Technology').head()

In [89]:
p.logoNotebook(symbol)

In [57]:

a = p.newsDF(symbol, count=5)
a.to_csv("news.csv", sep='\t')

In [90]:
p.marketNewsDF(count=6)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-10-24 21:49:00,American Academy of Orthopaedic Surgeons annou...,https://api.iextrading.com/1.0/stock/market/ne...,"Healthcare,Health Services,Hospitals,National ...",PR Newswire,"ROSEMONT, Ill , Oct. 24, 2018 /PRNewsw...",https://api.iextrading.com/1.0/stock/market/ar...
2018-10-24 21:43:00,Specialty Grocer The Fresh Market Issues Volun...,https://api.iextrading.com/1.0/stock/market/ne...,"Consumer Goods,Consumer Affairs,Food and Bever...",PR Newswire,"GREENSBORO, N.C. , Oct. 24, 2018 /PRNe...",https://api.iextrading.com/1.0/stock/market/ar...
2018-10-24 21:18:00,Vivaris Capital Declares Famela Ramos Winner o...,https://api.iextrading.com/1.0/stock/market/ne...,"CALIFORN,Education,Election,Healthcare,INDIANA...",PR Newswire,"SAN DIEGO , Oct. 24, 2018 /PRNewswire/...",https://api.iextrading.com/1.0/stock/market/ar...
2018-10-24 20:59:55,Powell Strangles The Markets,https://api.iextrading.com/1.0/stock/market/ne...,"FEDRESRV,National News",SeekingAlpha,Source: istockphoto Interest rates ar...,https://api.iextrading.com/1.0/stock/market/ar...
2018-10-24 20:54:00,FDA permits marketing of a diagnostic test to ...,https://api.iextrading.com/1.0/stock/market/ne...,"Biotechnology,Pharmaceutical,FDA00001,Federal,...",PR Newswire,"SILVER SPRING, Md. , Oct. 24, 2018 /PR...",https://api.iextrading.com/1.0/stock/market/ar...
2018-10-24 20:51:00,"Rep. Emmer and State Rep. Zerwas, at Consumer ...",https://api.iextrading.com/1.0/stock/market/ne...,"Alternate Energy,Commodities,Energy,Energy,Fut...",Business Wire,U.S. Representative Tom Emmer and State R...,https://api.iextrading.com/1.0/stock/market/ar...

In [98]:
p.peersDF("AMZN")

         peer
symbol
MSFT     MSFT
COST     COST
EBAY     EBAY
OSTK     OSTK
MELI     MELI
BKS       BKS
WMT       WMT
CBS       CBS
PRSS     PRSS
GOOGL   GOOGL

In [93]:
p.yesterdayDF("MSFT")

,change,changePercent,close,date,high,low,open,unadjustedVolume,volume,vwap
symbol,,,,,,,,,,
MSFT,-1.53,-1.396,108.1,2018-10-23,108.97,105.11,107.77,43770429,43770429,107.0193

In [69]:
p.priceDF(symbol)

    price
0  215.09

In [94]:
p.relevantDF("MSFT")

   peers symbols
0   True    CSCO
1   True    AAPL
2   True      CA
3   True     SAP
4   True     RHT
5   True     IBM
6   True    ORCL
7   True     HPQ
8   True   GOOGL
9   True     XLK

In [87]:
a = p.sectorPerformanceDF()
print(a.iloc[9])
a.iloc[9].to_csv("techSector.csv", sep='\t')

lastUpdated    2018-10-24 20:00:00.397000
performance                       -0.0448
type                               sector
Name: Technology, dtype: object

In [62]:
p.splitsDF(symbol, timeframe='5y')

           declaredDate  forFactor paymentDate     ratio recordDate  toFactor
exDate
2014-06-09   2014-04-23          1  2014-06-06  0.142857 2014-06-02         7

In [68]:
a = p.collectionsDF('sector', 'Technology')
a.to_csv("sectorPre.csv", sep='\t')